<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Turtle Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Turtle Dashboard</h1>
        <p><a href="/turtles/new">Create new Turtle</a></p>
        <hr>
        <% for (var turtle of turtles) { %>
            <p><b>Name:</b> <%= turtle.name %></p>
            <p><a href="/turtles/<%= turtle._id %>">Details</a></p>
            <hr>
        <% } %>
    </body>
</html>